{
    "printWidth": 120,
    "semi": false,
    "singleQuote": true,
    "importOrder": ["^./assets/(.*)$", "<THIRD_PARTY_MODULES>", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderGroupNamespaceSpecifiers": true
}
