{
    "printWidth": 120,
    "semi": false,
    "singleQuote": true,
    "importOrder": ["^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderGroupNamespaceSpecifiers": true
}
